extends _pug-template/layout.pug
block head-style
	style
block sidebar
	+sidebar('Account Management', 'Account acquire')
block body
	section.content-body(role='main')
		header.page-header.container-fluid
			.page-header-left
				ol.breadcrumbs
					li
						a(href='#')
							i.fa.fa-home
					li
						a(href="#") Roles
				.pull-right
					a(href="#").btn.btn-primary.btn-xs 
						i.fa.fa-plus
						| &nbsp; Add
		.content-body-wrap
			.tab-content
				#tab-list-customer.tab-pane.active
					form.panel.panel-default(method='POST', action='https://admin.bizdev.truemoney.com.vn/setting/role/list')
						.row.mb-md
							//- .col-xs-1.text-center
								a.fa.fa-angle-down(href="#")
							.col-lg-4.mb-sm
								input.form-control(type='text', placeholder='Role Name ')
							.col-lg-4.col-sm-8.col-xs-12.mb-sm.form-horizontal
								.form-group
									label.col-sm-4.control-label(for='status') Status:
									.col-sm-8
										select#status.form-control(name='status')
											option(value='', selected='') please select
											option(value='Y') Active
											option(value='N') Inactive
								//- .pull-right
								//- 	button.btn.btn-default.btn-sm(type='button', data-toggle="collapse", data-target="#advanced-filter") 
								//- 		i.fa.fa-gear
								//- 		| &nbsp; Advanced
							.col-lg-4.col-sm-4.col-xs-12.mb-sm.text-right
								button.btn.btn-primary.btn-sm(type='button') Search
								//- button.btn.btn-default.btn-sm(type='button') Export Excel
					section
						p.fl
							b 3779
							|  results
						.fr
							ul.pagination.pagination-sm.m-none
								li
									a(href='#') 1
								li
									a(href='#') 2
								li
									a(href='#') 3
								li
									a(href='#') 4
								li
									a(href='#') 5
						.clr
						.table-responsive
							.clr
							table.table.table-bordered(style='width: 100%')
								thead(style='line-height: 22px; cursor: pointer;')
									tr
										th(width='50') #
										th(width='200') Role name
										th Action
										th Description
								tbody
									tr
										td 1
										td
											a(href='https://admin.bizdev.truemoney.com.vn/setting/role/role_test_P/details') role_test_P
										td
											button.btn.btn-xs.btn-success(style='display: inline')
												| Change status
											button.btn.btn-xs.btn-primary(style='display: inline')
												i.fa.fa-pencil
												| &nbsp;Edit
										td role test P role test Prole test Prole test P
									tr
										td 2
										td
											a(href='https://admin.bizdev.truemoney.com.vn/setting/role/_A123/details') _A123
										td
											button.btn.btn-xs.btn-success(style='display: inline')
												| Change status
											button.btn.btn-xs.btn-primary(style='display: inline')
												i.fa.fa-pencil
												| &nbsp;Edit
										td
									tr
										td 3
										td
											a(href='https://admin.bizdev.truemoney.com.vn/setting/role/123_123/details') 123_123
										td
											button.btn.btn-xs.btn-success(style='display: inline')
												| Change status
											button.btn.btn-xs.btn-primary(style='display: inline')
												i.fa.fa-pencil
												| &nbsp;Edit
										td

	

			
block modals
	//- Modal goes here
	#action-change-status-role.modal.fade.bs-example-modal-lg(role='dialog', aria-labelledby='changeStatusRole', aria-hidden='true')
		.modal-dialog(role='document', style='width: 400px;')
			input#roleName(type='hidden', name='roleName', value='')
			input#roleStatus(type='hidden', name='roleStatus', value='')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Warning
				.modal-body
					.row.form-group
						label.control-label(for='') Are you sure to change status?
					#wrapper-chk-customer-confirm
						input#chk-account-confirm(type='checkbox', name='chk-account-confirm')
						label(for='chk-account-confirm') I agree with these terms and conditions of use.
					#msg-change-role
				.modal-footer
					button#btnChangeStatusRole.btn.btn-sm.btn-primary(type='button', onclick='changeStatusRole();') Change
					button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Cancel
block foot-scripts
	//- Custom Script goes here
	script.
		$(document).ready(function() {
			$('#make-sure-action').on('change', function(){
				if (this.checked) {
					$("#approve-stage-popup .modal-footer button[disabled]").removeAttr('disabled');
				} else {
					$("#approve-stage-popup .modal-footer button").attr('disabled', 'disabled');
				}
			});
		});