mixin footer
	footer.main-footer
		.container-fluid.pt-sm
			.row
				.col-xs-12.col-md-6.col-md-offset-6
					.footer-info
						span
							| © 2017 by 1PAY Co., Ltd A member of
							a(target='_blank', href='http://mog.vn') MOG Vietnam